.wrapper-car{
 
  align-items: center;
  text-align: center;
  /* background-image: linear-gradient(rgb(196, 194, 237), rgb(214, 215, 216)); */
  border-radius: 12px;
  cursor: pointer;
  padding: 10px;
  border: 1px rgb(188, 188, 188) solid;
}

.image-top{

  object-fit: cover;
 
  
}
.car-image{
  width: 100%;
  padding:10px;
  border-radius: 35px;
 
  
}

.image-top{
  object-fit: contain;
}

.content{
  text-align: center;
  font-weight: 500;
  font-size: 18px;  
  font-style:bold;


  
}

.btn-book{
   
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  border:solid rgb(165, 165, 255) 1px;
  font-size: 18px;
}

.btn-book:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255) !important;
 
}

p{
  margin:0;

}

.wrapper-car:hover{
  box-shadow: 10px 10px 20px 10px #e6e6e6;
}


